<div class="container">
  <button type="button" class="btn btn-outline-success btn-block" routerLink="/comments">Go Back</button>
</div>
<br>
<div class="container-fluid">
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div class="form-group">
      <label for="exampleInputName">Name :</label>
      <input type="text" class="form-control" placeholder="Enter you re name.." name="name" [(ngModel)]="comment.name" #name=ngModel
        [ngClass]="{'is-invalid':name.errors && name.touched}" required minlength="2">
      <div [hidden]="!name.errors?.required" class="invalid-feedback">
        Name required
      </div>
      <div [hidden]="!name.errors?.minlength" class="invalid-feedback">
        Must be at least 2 characters
      </div>
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Email :</label>
      <input type="email" class="form-control" placeholder="Enter email" name="email" [(ngModel)]="comment.email" #email=ngModel>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Body</label>
      <textarea class="form-control" rows="3" name="body" #body placeholder="Enter the text ..." [(ngModel)]="comment.body" #body=ngModel></textarea>
      <small class="form-text text-muted">Entre the body of the text.</small>
    </div>

    <input type="hidden" class="form-control" name="id" [(ngModel)]="comment.id" #id=ngModel>

    <button type="submit" class="btn btn-warning btn-block">Update Comments
      <i class="fa fa-pencil-alte"></i>
    </button>
  </form>
</div>
